name: Playwright Python Tests with Qase

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install playwright
          pip install qaseio
          pip install pytest
          playwright install chromium

      - name: Run automation tests
        env:
          QASE_TOKEN: ${{ secrets.QASE_TOKEN }}
        run: python AUTO_LANDING/run.py

